@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.6rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5%;
}

.logo-text {
    text-transform: uppercase;
    font-size: 3rem;
    color: #444;
}

.logo-text span {
    position: relative;
    top: 0.75rem;
    color: hsl(353, 100%, 55%);
}

.navigation li {
    display: inline-block;
    list-style: none;
    margin: 0 1.5rem;
}

.nav-link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #333;
    transition: 300ms ease-in;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 50%;
    transform: translateX(50%);
    width: 0%;
    height: 4px;
    border-radius: 0.5rem;
    background-color: #ff1b36;
    transition: 0.5s;
}

.nav-link:hover::after {
    width: 100%;
}

.toggle {
    width: 3rem;
    height: 3rem;
    transform: translateY(-.7rem);
    background: rgb(61, 36, 117);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.toggle::before,
.toggle::after {
    content: '';
    width: 2rem;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: .5s;
}

.toggle::before {
    transform: translateY(-.3rem);
}

.toggle::after {
    transform: translateY(.3rem);
}

.toggle.active::after {
    transform: rotate(45deg);
}

.toggle.active::before {
    transform: rotate(-45deg);
}

main {
    padding: 2rem 5%;
}

.intro {
    display: flex;
    padding-bottom: 1.85rem;
}

.project-list {
    padding-bottom: 2.5rem;
}

.project-item {
    list-style: none;
    margin-top: 2rem;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    border: 2px solid #333;
    border-radius: 3px;
    transition: 300ms ease;
}

.project-item:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.project-item:first-child {
    margin-top: 0;
}

.project-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
}

.landing {
    padding: 0 1.5rem 2.5rem 1.5rem;
}

.landing-title {
    text-align: center;
    letter-spacing: 1px;
    color: #666;
}

.landing-box {
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

.landing-text {
    width: 40%;
    transform: translateY(-1.5rem);
}

.text-title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.lorem {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    text-align: justify;
    color: #333;
}

.landing-image {
    width: 60%;
    transform: translateY(10rem);
}

.landing-image img {
    display: block;
    width: 95%;
    margin-left: auto;
}

.technologies {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tech-title {
    text-align: center;
    margin-bottom: 4rem;
}

.tech-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-item {
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    color: #333;
    transition: 450ms ease;
    cursor: pointer;
}

.tech-item:hover {
    color: hsl(353, 100%, 55%);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
}

.text-content {
    width: 40%;
    padding: 1rem;
}

.smm {
    font-size: 2rem;
    margin-bottom: .7rem;
}

.smm-activity {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

.image-content {
    width: 50%;
}

.image-content img {
    width: 75%;
}

.contact {
    margin: 5rem auto;
}

.contact-title {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5rem 0;
}

.social-item {
    list-style-type: none;
}

.social-link,
.tel {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #333;
    transition: 250ms ease-in-out;
}

.tel {
    text-align: center;
    cursor: pointer;
}

.social-link:hover,
.tel:hover {
    color: hsl(353, 100%, 55%);
}

.footer {
    border-top: 2px solid #666;
    background-color: hsla(0, 17%, 92%, 0.918);
    padding: 4rem;
}

.foolter-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-nav-item {
    list-style-type: none;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

.footer-nav-item:last-child {
    margin-right: 0;
}

.footer-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    transition: 350ms ease;
}

.footer-link:hover {
    color: hsl(353, 100%, 55%);
}

.copy {
    text-align: center;
    color: #333;
    margin-top: 6rem;
    line-height: 1.7;
}

@media(max-width:450px) {
    .toggle {
        display: flex;
    }
    .header {
        position: relative;
    }
    .navigation {
        position: absolute;
        top: 7rem;
        left: 2.8rem;
    }
    .logo-text {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
    }
    .logo-text span {
        top: -.5rem;
        left: 2.4rem;
        color: hsl(353, 100%, 55%);
    }
    .project-list {
        background: #444;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 5;
        height: 100vh;
        padding: 5rem 2rem;
        /* transform: translateX(-120%); */
        transition: 0.5s;
    }
    .project-list.active {
        transform: translateX(129%);
    }
    .project-list::before {
        content: 'Projects';
        position: absolute;
        top: 2rem;
        left: 30%;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
    }
    .project-item {
        padding: 0.5rem 0;
        color: #fff;
        border: unset;
        border-bottom: 2px solid #fff;
    }
    .project-link {
        color: #fff;
    }
    .project-item:hover {
        box-shadow: unset;
    }
    .landing {
        padding: 0;
    }
    .landing-box {
        margin-top: 2.5rem;
        flex-direction: column;
    }
    .landing-text {
        width: 100%;
        transform: unset;
    }
    .text-title {
        text-align: center;
    }
    .landing-image {
        width: 100%;
        margin-top: 3.5rem;
        transform: unset;
    }
    .technologies {
        margin-top: 3rem;
    }
    .tech-list {
        align-items: flex-start;
        flex-direction: column;
    }
    .tech-item {
        margin-top: 1rem;
        text-align: left;
    }
    .social-media {
        flex-direction: column;
    }
    .text-content {
        width: 100%;
    }
    .smm {
        text-align: center;
        line-height: 1.7;
    }
    .image-content {
        width: 100%;
    }
    .contact-title {
        font-size: 2.2rem;
        font-weight: 600;
    }
    .socials-list {
        flex-direction: column;
    }
    .social-item {
        margin: 1rem auto;
    }
    .footer-nav {
        margin-top: 2rem;
    }
}
