.blast {
  font-size: 103px;
  font-weight: 700;
  line-height: 120px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
transition: .3s;
cursor: pointer;
}

.title {
  padding-right: 350px;
  padding-top: 50px;
}

.blast:hover {
  color: #08fdd8;
  
}

